@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1920px;
  padding: 0 312px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 312px;
}
.list__items {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header__order {
  padding: 6px 20px;
  border-radius: 12px;
  width: 204px;
  height: 40px;
  background-color: #0b457f;
  color: #fbfbfb;
}
.address__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mode {
  position: relative;
}
.mode ::before {
  position: absolute;
  left: -26px;
  top: 16px;
  content: url('/img/clock-icon.png');
}
.address__block {
  margin-left: 28px;
  display: flex;
  flex-direction: row;
  gap: 44px;
}
.address__text {
  position: relative;
}
.address__text ::before {
  position: absolute;
  left: -26px;
  top: 16px;
  content: url('/img/map-icon.png');
}
.map__text {
  position: relative;
}
.map__text ::before {
  position: absolute;
  left: -26px;
  top: 16px;
  content: url('/img/tg-icon.png');
}
.card1 {
  border-radius: 12px;
  width: 424px;
  height: 512px;
  background: linear-gradient(
    87deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding: 32px 12px 0 12px;
}
.card__title {
  padding: 0 0 106px 20px;
}
h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  padding-bottom: 12px;
}
.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}
.card__btn {
  margin-top: 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 142px;
  height: 45px;
  color: #ffffff;
}
.card2 {
  position: relative;
  border-radius: 12px;
  width: 424px;
  height: 250px;
  background: linear-gradient(
    87deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding: 32px 0 0 32px;
}
.card__img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn2 {
  width: 180px;
}
